<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                         http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                         http://www.springframework.org/schema/context
                         http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 这个工具类，用于在非controller中调用serveice层， 对spring的service注解进行处理 -->
	<!-- <bean id="springContextUtil" class="com.travel.util.SpringContextUtil" scope="singleton"></bean> -->
	
	<!-- 载入mybatis配置文件 -->
<!-- 	<import resource="spring-mybatis.xml" />
 -->
</beans>